/*MAIN---------------------------*/

*{
	color:white;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	font-weight: bold;
}

html,body{
	overflow:hidden;
	height: 100%;
}

body{
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#0e1b20), to(#23363c));
    background: -webkit-linear-gradient( #23363c, #0e1b20, #23363c);
    background: -moz-linear-gradient( #23363c, #0e1b20, #23363c);
    background: -o-linear-gradient( #23363c, #0e1b20, #23363c);
    background: linear-gradient( #23363c, #0e1b20, #23363c);
}

@font-face{
	font-family: boston;
	src: url(../css/boston_traffic.ttf);
}

section{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#43494b), to(#2e3335));
    background: -webkit-linear-gradient(#43494b, #2e3335);
    background: -moz-linear-gradient(#43494b, #2e3335);
    background: -o-linear-gradient(#43494b, #2e3335);
    background: linear-gradient(#43494b, #2e3335);
    width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#gameScreen{
	position: relative;
	margin-top:0%;
	height: 700px;
	width: 960px;
	background: #4fbee7;
}

/*GAME-----------------*/

#effectScreen{
    top:0px;
    z-index: 50;
    position: absolute;
    height: 700px;
    width: 960px;
    background: black;
    opacity: 0;
    -webkit-animation: effectsScreenAnimation 1.5s;
}

/*Planes*/

#playerPlaneDiv {
    position: absolute;
    left: 0;
    bottom: 0;
}

.sentryPlaneDiv {
    position: absolute;
    left: 0;
    bottom: 0;
}

.enemyPlane {
    position: absolute;
    left: 0;
    bottom: 0;
}

.playerBulletDiv {
    border-radius: 2px 2px 0px 0px;
    position: absolute;
    height: 15px;
    width: 4px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffcb00), to(#ff7100));
    background: -webkit-linear-gradient(#ffcb00, #ff7100);
    background: -moz-linear-gradient(#ffcb00, #ff7100);
    background: -o-linear-gradient(#ffcb00, #ff7100);
    background: linear-gradient(#ffcb00, rgba(255,113,0,0.5));
}

.enemyBulletDiv {
     border-radius:  0px 0px 2px 2px;
    position: absolute;
    height: 15px;
    width: 4px;
  	 background: -webkit-gradient(linear, 0 0, 0 100%, from(#df3100), to(#ff7100));
     background: -webkit-linear-gradient(#df3100, #ff7100);
     background: -moz-linear-gradient(#df3100, #ff7100);
     background: -o-linear-gradient(#df3100, #ff7100);
     background: linear-gradient(#df3100, #ff7100);
}

.piercingBulletDiv {
    border-radius: 2px 2px 0px 0px;
    position: absolute;
    height: 15px;
    width: 4px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#78f1ff), to(#277aea));
    background: -webkit-linear-gradient(#78f1ff, #277aea);
    background: -moz-linear-gradient(#78f1ff, #277aea);
    background: -o-linear-gradient(#78f1ff, #277aea);
    background: linear-gradient(#78f1ff, #277aea);
}

.homingBulletDiv{
    position: absolute;
    height:15px;
    width:4px;
    border-radius: 2px 2px 0px 0px;
    background: linear-gradient(#dd1d00, #dd1d00 30%,#5a5a5a 31%);
}

.hpBarEnemy {
    position: absolute;
    width: 100%;
    height: 5px;
    border:2px solid black;
    background-color: #d22d13;
    opacity: 0.8;
}

.hpBarFriendly {
    position: absolute;
    width: 100%;
    height: 5px;
    border:2px solid black;
    background-color: lightgreen;
    opacity: 0.8;
}

@-webkit-keyframes enemyDeathAnimation {
	from  {opacity: 1; -webkit-transform: scale(1, 1) rotateY(0deg)}
	to {opacity: 0.05; -webkit-transform: scale(0.01, 0.01) rotateY(240deg)}
}

@-webkit-keyframes effectsScreenAnimation {
	from  {opacity: 0; }
	to {opacity: 1; }
}
